# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    
    1. Numpy
    2. Pandas
    3. Scikit Learn
    4. Seaborn
    5. Tensorflow


| Data Science Tools |
| --- |
| Jupyter |
| VS Code |
| PyCharm |

**Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* List open source IDEs for Data Science

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author

Tinashe Kaseke